entrypoint = "main.py"
modules = ["python-3.10"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[workflows]
runButton = "Discord Bot"

[[workflows.workflow]]
name = "Discord Bot"
author = 40873550
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python bot.py"
